header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 0.5rem;
    border-radius: 8px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
