<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>
        <link rel="stylesheet" href="./static/css/pico.violet.min.css" />
    </head>
    <body class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/projects">Proyectos</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Blog</h1>
            <p>Welcome to my blog!</p>
        </main>

        <footer>
            <p>&copy; 2023 My Blog</p>
        </footer>
    </body>
</html>
