<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .titulo }}</title>
        <link rel="stylesheet" href="/assets/css/pico.violet.min.css" />
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body class="container">
        <header class="grid">
            <img src="/assets/img/logo.png" alt="Logo" class="logo" />
            <nav>
                <li><a href="/login">Iniciar sesion</a></li>
            </nav>
        </header>
        <main class="grid">
            <section>
                <h1>Bienvenido a AgroFresh Envios</h1>
                <p>
                    Esta es una aplicación web para la empresa AgroFresh Envios.
                </p>
            </section>
        </main>
        <footer class="grid">
            <p>&copy; 2025 AgroFresh Envios</p>
        </footer>
    </body>
</html>
