<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Lista de Envíos</title>
        <link rel="stylesheet" href="/assets/css/pico.violet.min.css" />
        <link rel="stylesheet" href="/assets/css/registroEnvio.css" />
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/" class="logo-link">
                            <img
                                src="/assets/img/logo.png"
                                alt="AgroFresh Envios Logo"
                                class="logo"
                            />
                            <strong>AgroFresh Envios</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/login" role="button" class="secondary"
                            >Cerrar Sesión</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <main class="container">
            <h1>Lista de Envíos</h1>

            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">No. Pedido</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha/Hora Último Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .envios }}
                    <tr>
                        <td>#{{ .ID }}</td>
                        <td>{{ .Productos }}</td>
                        <td>{{ .Cliente }}</td>
                        <td>{{ .Fecha }}</td>
                    </tr>
                    {{ else }}
                    <tr>
                        <td colspan="4">No hay envíos registrados.</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </main>
    </body>
</html>
